extends base.pug

block page
  h1 #{title}

  p #{description}
  
  mixin collection(x)
    each item in x
      if (item.type == 'file')
        - item.path = item.path.replace('.md', '.html')
        - item.name = item.name.replace('.md', '')
        div: a(href=item.path) #{item.name}
      else if (item.type == 'folder')
        div.deeper
          | --- #{item.name} ---
          +collection(item.children)
      
  nav
    +collection(folderTree)

  //!= contents
    
